<div class="item detail pad-top">
    <div class="header">
        <div class="header-content">
            <div class="avatar-issue pad">
                <div class="avatar">
                    <img ng-src="{{issue.user.avatar_url}}" />
                </div>
                <div class="title">
                    <span class="issue-title">{{issue.title}} <span class="issue-num">#{{issue.number}}</span></span>
                    <span class="issue-submit">submitted by <a ng-href="{{issue.user.html_url}}" target="_blank"><span class="issue-user">@{{issue.user.login}}</span></a>
                    </span>
                </div>
                <div class="status">
                    <span class="label-status" ng-class="(issue.state === 'open') ? 'open' : 'closed'">{{issue.state}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div ng-if="issue.body">
            <p class="sub-title">DESCRIPTION</p>
            <div class="markdown-body" markdown content="issue.body" preview="false"></div>
        </div>

        <div ng-if="issue.labels.length > 0">
            <p class="sub-title">LABELS</p>
            <span class="label-tag" ng-repeat="label in issue.labels" style="background-color: #{{label.color}}">{{label.name}}</span>
        </div>
    </div>
</div>

<div class="section-title">
    <div class="sec-1">
        <h2>Comments</h2>
    </div>
</div>

<div ng-if="comments.length === 0" class="comment-section center pad">
    <h3>No comments</h3>
</div>

<div ng-if="comments.length > 0">
    <div class="comment-section pad" ng-repeat="comment in comments">
        <div class="avatar">
            <img ng-src="{{comment.user.avatar_url}}" />
        </div>

        <div class="comment">
            <span class="user-id"> <a ng-href="{{comment.user.html_url}}" target="_blank">@{{comment.user.login}}</a></span>
            <div class="markdown-body comment-markdown" markdown content="comment.body" preview="false"></div>
        </div>
    </div>

    <div class="center">
        <div>
            <button ng-if="!isBusy" class="button" ng-click="getComment()">
                LOAD MORE COMMENTS
            </button>
        </div>
    </div>
</div>